/* You can add global styles to this file, and also import other style files */
html, body
{
  color: #000;

  font-size: 10px;
  font-family: sans-serif;

  background-color: #fff;
  background-size: cover;
  background-position: center;

  height: auto;
  width: 100%;

  margin: 0;
  padding: 0px;

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased !important;
  -moz-font-smoothing: antialiased !important;
  text-rendering: optimizelegibility !important;
}

.container 
{
  padding-top: 30px;
  padding-bottom: 30px;
}